.sorting {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sorting-img {
  width: 10px
}

.search-input {
  color: 'red';
  padding: 20px;
}

.input-field { 
  text-align: center;
  color:#000 !important;
  border-radius: 100px;
  background: #fff;
}